* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#4b6cb7), to(#182848)) no-repeat;
  background: linear-gradient(0deg, #4b6cb7 0%, #182848 100%) no-repeat;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
}

header h1 {
  font-size: 3rem;
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input,
form button {
  border: none;
  padding: .75rem 1.75rem;
  margin: 0.25rem;
  font-size: 1.5rem;
}

form button {
  cursor: pointer;
  border: white 1px solid;
  background-color: transparent;
  color: white;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

div.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0.5rem;
  padding: 0.75rem 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  background: white;
  border-radius: 5px;
  -webkit-animation: scaleUp 0.3s forwards;
          animation: scaleUp 0.3s forwards;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.todo:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

div.todo .container {
  width: 100%;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.todo p {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 400px;
          flex: 3 1 400px;
  font-size: 1.2rem;
}

div.todo div.buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  background-color: white;
  font-size: 1.5rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.todo i {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

div.todo i.fa-trash {
  padding: 1rem 1.1rem;
}

div.todo .done {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}

div.todo .done p {
  text-decoration: line-through;
}

@media screen and (max-width: 1400px) {
  div.todo {
    margin: 0.5rem 0.25rem;
    padding: 0.5rem 0.25rem;
  }
  div.todo div.buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
  }
}

@media screen and (max-width: 550px) {
  header h1 {
    font-size: 2.5rem;
  }
  form input,
  form button {
    padding: 0.5rem 0.75rem;
    margin: 0.25rem;
    font-size: 1rem;
  }
  div.todo {
    margin: 0.25rem;
    padding: 0.2 0.1rem;
    width: 90%;
  }
  div.todo p {
    font-size: 1rem;
  }
  div.todo div.buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 280px;
            flex: 1 1 280px;
  }
  div.todo i {
    padding: 0.5rem;
  }
  div.todo i.fa-trash {
    padding: 0.5rem 0.6rem;
  }
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */